<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LESOB</title>

    {% if request.user.is_authenticated %}
      <p><a href="{% url 'index' %}">Home</a> | <a href="{% url 'logout' %}">Logout</a></p>
      <p> Hello, {{request.user.username}}</p>
    {% else %}
      <p>
        <a href="{% url 'index' %}">Home</a> |
        <a href="{% url 'register' %}">Register</a> |
        <a href="{% url 'login' %}">Login</a>
      </p>
    {% endif %}
    <hr>

  </head>
  <body>
    {% block content %}

    {% endblock content %}

    </<footer>
      <hr>
      <p>Mark Wood website</p>
  </footer>
  </body>
</html>
