{% extends 'base.html' %}
    <!-- {% load static %} -->
    {% block content %}

    <h2>Register</h2>
    <form method="post">
      <!-- ALWAYS add this line to your templates if  you want
      to use a form from forms.py - they initiate encryption tokens
      They are for security reasons (ending your session is static too long)-->
      {% csrf_token %}
    	{% for field in registration_form %}
    		<p>
    			{{field.label_tag}}
    			{{field}}

    			{% if field.help_text %}
    				<small style="color: grey;">{{field.help_text}}</small>
    			{% endif %}

    			{% for error in field.errors %}
    				<p style="color: red;">{{error}}</p>
    			{% endfor %}
    		</p>
    	{% endfor %}
    	<button type="submit">Register</button>

    </form>

{% endblock content %}
